* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 100vh;
}

header {
    height: 8vh;
    flex-grow: 1;
    background-color: darkgrey;
}

.esquerdo {
    position: fixed;
    top: 158px;
    height: 400px;
    width: 25%;
    background-color: darkgray;
}

.direito {
    position: fixed;
    top: 158px;
    right: 0px;
    height: 400px;
    width: 25%;
    background-color: darkgray;
} 

main {
    height: 90vh;
    flex-grow: 2;
    margin: 8px 0px;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
    overflow-y: scroll;

    align-self: center;
    width: 60%;

    background-color: bisque;
    z-index: 1;
}
footer {
    height: 10vh;
    flex-grow: 1;
    background-color: darkgray;
    z-index: 2;
}
.logo {
    height: 12.8vh;
    position: fixed;
    right: 0px;
    bottom: 0px;
} 
.loginAndSingin{
    position: fixed;
    right: 20px;
}
.login, .singIn{
    top: 20vh;
    border: none;
    padding: 15px 42px;
    border-radius: 15px;
    color: magenta;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 8px 10px;
    cursor: pointer;
}

.search{
    position: absolute;
    left: 32vh;
    top: 1vh;
    width: 12vh;
    height: 20vh;

}
::-webkit-scrollbar {
    height: 8px;
    width: 7px;
    border-radius: 20px;
    background-color: #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    size: 50%;
    border-radius: 20px;
}