* {
    padding: 0px;
    margin: 0px;
}

div {
    display: inline-block;
}

#principal {
    border: 1px black solid;
    height: 800px;
    width: 1500px;
    margin-left: 210px;
    margin-top: 80px;
}

#f1 {
    width: 375px;
    height: 800px;
    border-right: black 1px solid;
}

#f2 {
    width: 375px;
    height: 800px;
    border-right: black 1px solid;
}

#f3 {
    width: 375px;
    height: 800px;
    border-right: black 1px solid;
}

#f4 {
    width: 375px;
    height: 800px;
    position: absolute;
}